Lists data structure

In [1]:
list1=[]
print(type(list1))

<class 'list'>

In [2]:
l1=[1,"rachit","jain",40]
print(l1)

[1, 'rachit', 'jain', 40]

In [10]:
#accessing list elements

l2=["apple","banana","orange","grapes"]

print(l2)
print(l2[:3])
print(l2[:])

['apple', 'banana', 'orange', 'grapes']
['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'grapes']

In [12]:
#modifying elements in list

l2[3]="watermelon"

l2

l2[1:]="watermelon"
l2

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [15]:
l2.append("papaya")
l2.remove("papaya")

In [23]:


l2.sort()
l2
l2.reverse()
l2

l2.count("e")
l2

['r', 'm', 'e', 'e']

In [29]:
l3=["a",2,2,2,2,2,3]
print(l3)
l3.count(2)

['a', 2, 2, 2, 2, 2, 3]

5

In [31]:
l3.clear()
l3

[]

In [33]:
#slicing list

l4=[1,2,3,4,4,5,6,9]

print(l4[3:7])
print(l4[:6])
print(l4[3:])
print(l4[::3])
print(l4[::-1])

[4, 4, 5, 6]
[1, 2, 3, 4, 4, 5]
[4, 4, 5, 6, 9]
[1, 4, 6]
[9, 6, 5, 4, 4, 3, 2, 1]

In [34]:
#iterating over list using for loop

for num in l4:
    print(num)

1
2
3
4
4
5
6
9

In [50]:
#iterating with index
#enumerate  - we get the index number of the elements in list 

print(enumerate(l4))

for i,num in enumerate(l4):
    print(i,num,)

<enumerate object at 0x0000017F20C84860>
0 1
1 2
2 3
3 4
4 4
5 5
6 6
7 9

In [51]:
#list comprehension - we can do direct op inside the list to save memory space      
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


#list comprehension syntax

basics syntax - [ expression for item in iterable]

with conditional logic - [expression for item in iterable if condition]

nested list comprehension - [expression for item1 in iterable1 for item2 in iterable2]

In [56]:
### basic list comphrension
sq=[num**2 for num in range(30)]

print(sq)
print()

even_sq=[num ** 2 for num in range(10) if num%2==0]

print(even_sq)
print()


l1=[1,2,3,4]
l2=["a","b","c","d"]

pair=[[i,j] for i in l1 for j in l2]
print(pair)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

[0, 4, 16, 36, 64]

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [57]:
##list comp with function calls

words=["abc","bv","wed"]
length=[len(word) for word in words]

print(length)  # [3, 2, 3]

[3, 2, 3]

In [58]:
l1=[[1,2],[3,4]]
print(l1)

[[1, 2], [3, 4]]